input[type='checkbox']:checked {
  filter: hue-rotate(-35deg);
  
}
input[type='checkbox'] {
  cursor: pointer;  
}

select,
input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include button-borders;
  cursor: pointer; 
  padding: 3px 5px;
  height: 30px;
}

select {
  width: 100px;

}

input[type='text'] {
  width: 130px;
}