input[type='checkbox']:checked {
  filter: hue-rotate(-35deg);
  
}
input[type='checkbox'] {
  cursor: pointer;  
}

.content__control__sort,
.content__control__found__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include button-borders;
  cursor: pointer; 
  padding: 3px 5px;
  height: 30px;
}

.content__control__sort {
  width: 100px;
}

.content__control__found__input {
  width: 130px; 
}


.filters__category__items::-webkit-scrollbar,
.filters__brand__items::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.6em;
}

.filters__category__items::-webkit-scrollbar-track,
.filters__brand__items::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.filters__category__items::-webkit-scrollbar-thumb,
.filters__brand__items::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
background-color: $main-color;
outline: 1px solid $main-color;
}