.content__products__wrapper {
    width: 100%;
    min-height: 500px;
    border: 1px dashed black;
}

.content__products {
    width: 100%;
    max-height: width;
    font-size: 0.6rem;
}

.large {
    @include grid-4-rows;
}

.small{
    @include grid-6-rows;
}
.content__products__product__wrapper {
    box-sizing: border-box;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.content__products__product {
    width: 100%;
    height: 100%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    @include flex-colomn;
    @include flex-space-between;
}

.added {
    @include selected-item; 
}
.content__products__product__title {
    margin: 3px;
    text-align: center;
}

.content__products__product__info {
    margin: 3px;
    text-align: left;
}

.content__products__product__info__item {
    margin: 3px;
    text-align: left;
}

.content__products__product__cart,
.content__products__product__details {
    margin: 3px;
    text-align: center;
}
