.filters {
    width: 30%;

    border: 1px dashed rgb(187, 41, 41);
}

.filters__options {
    @include flex-colomn;
}

.filters__control {
    @include flex-space-between;
    flex-direction: row;
    margin: 2px 5px;
}