.footer {
    width: 100%;
    height: 50px;
    @include flex-space-between;
    align-items: center;
    align-self: center;
    flex: 0 0 auto;
    border-top: 5px solid $main-color;
    margin-top: 10px;
}

.github {
    height: 35px;
    width: 35px;
    background-image: url("./images/github.png");
    background-size: cover;
    margin: 2px 2px 2px 5px;
}

.rsshool{
    height: 70px;
    width: 70px;
    background-image: url("./images/rs.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px 5px 2px 2px;
    filter: hue-rotate(-100deg);
}

.info__year {
    font-weight: 900;
}