.main {
    display: flex;
}

.main_hidden {
    display: none;
}

body {
    background-image: url(https://wsemoboi.ru/image/catalog/oboi/loymina/origins/115556_rossiyskie-oboi-loymina-kollektsiya-origins-artikul-als10005.jpg);
    background-size: contain;
}
