@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-colomn {
    display: flex;
    flex-direction: column;
}

@mixin flex-center { // центрирование элемента по вертикали и горизонтали
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin regular-borders {
    border: 2px solid rgb(0, 110, 15);
}

@mixin selected-item {
    box-shadow: 0 0 5px 2px rgb(255, 253, 117);
    border: 1px solid rgb(255, 251, 0);
}

@mixin grid-4-rows {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

@mixin grid-6-rows {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}