// Здесь будут переменные
// Удобно собирать такие вещи, как размеры шрифтов, основные цвета в этот файл. А в проекте использовать переменную с нужным значением
// В таком случае, если тебе захочется поменять, допустим, брендовый цвет с оранжевого на зеленый, 
// тебе не придется искать и менять этот цвет по всем файлам, а нужно будет поменять только здесь. 
// Сооответсвенно лучше называть свои переменные более абстрактно, напр @brandColor, нежели @orangeColor

// https://sass-guidelin.es/ru/#section-46/

$button-color: rgb(207, 180, 231); // пока такой цвет, потом поменяем)
$background-form-color: white;
$background-form-invalid: red;
$background-form-valid: rgb(0, 255, 42);

$form-border: black;